body{
    padding: 0px;
    margin: 0px;
}
.main-container{
    font-family: Montserrat, sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.clearfix {
    clear: both; 
    overflow: hidden;
    height: 0px;
}
/*header*/
.header {
    background-image:url(../img/Layer21.png);
    width:100%; 
    height:600px;
}
.info-block {
    padding: 300px 0px 0px 150px;
}

.head {
    color: #ffffff;
    font-size: 48px;
}

.head2 {
    color: #ffffff;
}

.head3 {
    border: 1px solid #ffffff;
    background-color: rgba(0,0,0, 0.3);
    width: 600px;
    height: 80px;
    font-size: 250%;
    text-align: center;
    color: #ffffff;
    padding-top: 1%;
    box-sizing: border-box;
}
.head3 > span {
    color: yellow;
}
/*Block-2*/
.block-two{
    text-align: center;
    width: 100%;
    height: 230px;
}
.name-title{
    color:#333333;
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
text-align: center;
}

.title-description{
    color:#4d4943;
    font-size: 17px;
    font-family: 'Lato', sans-serif;
line-height: 24px;
text-align: center;
}

.block-two > hr{
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
}

/*nav menu*/
.menu {
    width: 100%;
    margin: 0 auto;
    height: 60px;
}
.menu__logo {
    color: orange;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    font-family: sans-serif;
    display: inline-block;
    width: 11%;
    text-align: right;
}



.menu__list {
    display: inline-block;
    text-align: right;
    width: 78%;
}

.menu__item {
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 500;
}
.menu__item:hover
{
    color: yellow;
}
.menu__item:hover::after{
    content: url(../img/arrow-hover.png);
    position: relative;
    top: -3px;
}

.menu__item_color {
    color: orange;
}




.block-BUSINESS-CONSULTING{
    width: 70%;
    margin: 0 auto;
    height: 330px;
 }
 .img-block{
 
    display: inline-block;
 }
 .text-block{
    width: 35%;
    display: inline-block;
    padding-left: 20px;
    box-sizing: border-box;
 }
 .text1-block{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    color: orange;
    text-align: left;
    font-weight: bold;
 
 }
 .black{
    color: black;
 }
 .text2-block{
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 
 }
 .button-block{
    background-color: orange;
 
 }
 .button-text{
    color: white;
 }



 .new_block{
     background-image: url(../img/Layer\ 22.png);
     padding-top: 5%;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     margin-top: 90px;
     height: 300px;
     box-sizing: border-box;
 }

 .new_block > hr {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
 }

 .newp{
     color: white;
     font-size: 22px;
     text-transform: uppercase;
     text-align: center
 }
 
 .newp span{
     color: orange;
 }

 
 /*5-6 person*/

 .textd{
   width: 90%;
   height: 400px;
   margin: 0 auto;
}

 .stuff {
    float: left;
    position: relative;
    width: 193px;
    height: 178px;
    margin: 1px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
 }

 .person_name {
     position: absolute;
     width: 136px;
     height: 42px;
     margin: 0;
     padding: 15px 0 0 15px;
     background-color: #333333;
     color: #fff;
     font-size: 14px;
     line-height: 12px;
     left: 14px;
     bottom: 15px;
     box-sizing: border-box;
 }
 .person_name > span {
     color: #f1ad1d;
 }

.person1 {
    background-image: url(../img/person1.png); 
}
.person2 {
    background-image: url(../img/person2.png);
}
.person3 {
    background-image: url(../img/person3.png);
}
.person4 {
    background-image: url(../img/person4.png);
}
.person5 {
    background-image: url(../img/person5.png);
}
.person6 {
    background-image: url(../img/person6.png);
}
.person7 {
    background-image: url(../img/person7.png);
}
.person8 {
    background-image: url(../img/person8.png);
}
.person9 {
    background-image: url(../img/person9.png);
}
.person10 {
    background-image: url(../img/person10.png);
}
.person11 {
    background-image: url(../img/person11.png);
}
.person12 {
    background-image: url(../img/person12.png);
}

/*услуги*/

.block-f {
    clear: both;
    width: 90%;
    height: 600px;
    margin: 0px auto
}


.card-info {
    float: left;
    margin-right: 5%;
    width: 20%;
    height: 500px;
    box-sizing: border-box;
}

/*.card-info_margin-position {
    margin-right: 0;
}
*/
.title-f{
    width: 100;
    height: 15%;
    background-color:  #333333;
    color:  white;
}
.title-f span{
    color: orange;
}
.title-f__text{
    padding-top: 9%;
    width: 100%;
   text-align: center
}


.logo_offer {
    width: 100%;
    text-align: center;
    padding-top: 15%;
    height: 20%;
    box-sizing: border-box;
}

.description-header {
    width: 100%;
    height: 35%;
    text-align: justify;
    padding-top: 5%;
    padding-bottom: 5%;
    box-sizing: border-box;
}

.orange-line{
    width: 30%;
    height: 2px;
    border: none;
    background-color: orange;
}
/**/

.uppercase {
    text-transform: uppercase;
    color: black;
}

.description-footer {
    box-sizing: border-box;
    padding-top: 4%;
    height: 8%;
    font-size: 24px;
    text-align: center;
}

.description_footer_text {
    text-align: center;
    box-sizing: border-box;
    height: 26%;
    text-transform: capitalize;
    border-bottom: 3px solid black;
    padding-bottom: 30px;
}


/*block next*/

.black-line {
    width: 100%;
    height: 3px;
    background-color: black;
}
.text-on-background
{
background-image: url(../img/Layer\ 39.png);

font-family: Montserrat;
color:  #ffffff;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
width: 100%;
height: 475px;
clear: both;
margin-top: 100px;
}
.other-color
{
    font-family: Montserrat;
color:  #f1ad1d;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
}
.small-line
{
    margin: 70px auto;
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    border: 0px;
}
.line{
    background-color: #f1ad1d;
    height: 3px;
    width: 60%;
    border: none
}
.text-texton{
color:  #ffffff;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
text-transform: uppercase;
margin-top: 70px;
padding-top: 13%;
box-sizing: border-box;
}
.other-color{
color:  #f1ad1d;
font-size: 22px;/* Приближение из-за подстановки шрифтов */
font-weight: 700;
text-align: center;
text-transform: uppercase;
}
.content1{
    padding: 20px;
    height: 45px;
}
.main_table{
   
    padding: 0px 60px;
    height: 400px;
}
.table{
    float: left;
    width: 370px;
    margin-left: 20px;
    position: relative;
 
}


.table_img{
    background-image: url(../img/Layer10.png);
    width: 52px;
    height: 48px;
}
.table_img::after{
    content: "";
    display: inline-block;
    height: 2px;
    width: 300px;
    background-color: orange;
    margin-left: 56px;
    margin-top: 35px;

}
/*
.orange_line:before {
    position: absolute;
    content: url(../img/Layer10.png);
    width: 52px;
    height: 48px;
    left: 91px;
    top: -37px;
}
*/
.text{
    text-align: justify;
   padding: 10px 0px;
   border-bottom: 2px solid black;
}
.thomas{
    text-align: left;
}
.img_person{
    width:370px;
    margin-top: 25px;

}
.img{
    display: block;
    float: left;
}
.name_block{
    float: left;
    padding-top: 12px;
    padding-left: 8px;
    text-transform: capitalize;
}
.email-form {
    margin-top: 59px;
    height: 64px;
    width: 100%;
    margin-bottom: 177px;
    text-align: center;
}
.submit-button {
    width: 172px;
    height: 64px;
    background-color:  #f1ad1d;
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    border:none;
    margin-left: -5px;
}
.email {
    width: 600px;
    height: 60px;
    padding-left: 30px;
    border: 1px solid #c7c7c7;
    border-right: none;
    font-style: italic;
}
.name-form {
    background-color:  #333333; 
    color:  #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 56px;
   padding-left:12px;
}
.name-form-desc{
    display: inline-block;
    width: 380px;
    height: 56px;
    padding-left: 15px;
}
.name-form-yellow {
    color:  #f1ad1d;
}
.lorem-form {
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
}
.name {
    border: 1px solid #929292;
    width: 260px;
    height: 45px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
    margin-right: 18px;
}
.form_email {
    border: 1px solid #929292;
    width: 260px;
    height: 45px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left: 13px;
}
.message {
    border: 1px solid #929292;
    width: 572px;
    height: 172px;
    font-style: italic;
    color:  #505050;
    font-size: 14px;
    font-weight: 300;
    padding-left:13px;
    margin-top: 20px;
}
.reset-form, .send {
    background-color:  #f1ad1d;
    width: 118px;
    height: 43px;
    color:  #ffffff;
    font-size: 14px;
    font-weight: 900;
    line-height: 43px;
    text-transform: uppercase;
    border: none;
}
.big-form {
    width: 572px;
    margin-left: 80px;
    float:left;
}
.name-get{
    width: 246px;
    height: 56px;
   }
.contacts{
    display: inline-block;
    position: relative;
    left: 195px;
}
.icon-position{
    /* margin-top:20px; */
    margin-bottom:20px;
}
.icon-block{
 background-color: #333333;
    width: 36px;
    height: 32px;
    float: left;
    margin-right: 12px;
    margin-bottom: 3px;
}
.yellow-icons{
    width: 230px;
    display:flex;
    justify-content:space-between ;
}
.icon-yellow{
   
    color:  #f1ad1d;
    position: relative;
    top:8px;
    left:12px;
    
}
.icon-text{
    display: inline-block;
    color:  #505050;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 300;
    line-height: 22px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin-top: 3px;
}
.yellow-icon{
    background-color: #f1ad1d;
    width: 45px; 
    height: 40px;
    margin-top:18px;
    
    /* display: inline-block;
    float:right; */
}
.icon-white{
    color:white;
    position: relative;
    top:11px;
    left:16px;
}

.yellow-color {
    color: #f1ad1d;
}

.custom-full-width-section {
    margin-top: 141px;
    height: 485px;
    background: #000 url(../img/Layer\ 59.png) no-repeat bottom center;
    text-align: center;
    font-family: Montserrat, sans-serif;
    
}

.custom-full-width-section h2 {
    text-transform: uppercase;
    color: #fff;
    padding: 130px 0px 60px;
    margin: 0px;
}

.custom-full-width-section h3 {
    color: #fff;
    padding-top: 45px;
    margin: 0px;
}

.custom-full-width-section h3 a {
    text-decoration: none;
}

.custom-full-width-section .gag {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 0px auto;
}

.custom-brands-section {
    padding: 120px 0px;
}

.custom-brands-section .brand-box {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 1134px;
    margin: 0px auto;
}

.custom-brands-section .block-two {
    height: 145px;
}

.portfolio-description{
    background-image: url(..);
}
.title-item{
margin: 9px 0;
font-family: 'Montserrat', sans-serif;
color:  #333333;
font-weight: 700;
font-size: 18px;/* Приближение из-за подстановки шрифтов */
text-align: left;

}

.title-item::before{
    margin-right: 9px;
    display: inline-block;
    content: '';
    background: url(../img/Copy\ 2.png) center no-repeat  #333333;
    width: 36px;
    height: 32px;
    vertical-align: middle;
}
.item-description{
margin: 0 auto;
font-family: 'Lato', sans-serif;
color:  #505050;
font-size: 14px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;

}
.portfolio-item{
  
    width: 359px;
    display: flex;
    flex-wrap: wrap;
}
.grey-line{
    margin: 15px auto;
    width: 369px;
    height: 2px;
    background-color:#c1c1c1;
}
.item-time{
margin-top: 0;
margin-bottom: 0;
font-family: 'Lato', sans-serif;
color:  #828282;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: left;
text-transform: uppercase;
}
.item-details{
margin-top: 0;
margin-bottom: 11px;
margin-left: 160px;
font-family: 'Lato', sans-serif;
color:  #828282;
font-size: 12px;/* Приближение из-за подстановки шрифтов */
font-weight: 300;
line-height: 18px;/* Приближение из-за подстановки шрифтов */
text-align: left;
text-transform: uppercase;
}
.container-portfolio-items{
    margin: 0 auto;
    width: 1169px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;

}
.img-item{
background-color:  #dbdbdb;
width: 370px;
height: 157px;
font-family: 'OpenSansLight', sans-serif;
color:  #666666;
font-size: 26px;/* Приближение из-за подстановки шрифтов */
font-style: italic;
text-align: left;
}
.img-item::after{
    content: url(../img/scopes.png);
}
.start-your-business{
    background-image:url(../img/Layer\ 22.png);
    background-size: 100%;
    height: 400px;
    background-repeat: no-repeat;
    margin-top: 141px;
    text-align: center;
}
.start-your-business h2 {
    color: white;
    text-transform: uppercase;
    padding-top: 90px;

}
 .gag {
    background-color: #f1ad1d;
    width: 60px;
    height: 3px;
    margin: 0px auto;
    
 }
 .button-prop{
     border: 1px solid #fff;
     border-radius: 3px;
     width: 120px;
     height: 45px;
     background-color: rgba(0,0,0, 0);
     background-size: cover;
     color: #fff;
     margin-top: 50px;
  
 }
 .load {
    background-color:  #f1ad1d;
    width: 231px;
    height: 51px;
    color:  #ffffff;
    font-size: 12px;
    font-weight: 900;
    line-height: 43px;
    border: none;
    margin: 100px 665px;
 }
 .button_line {
    display: flex;
    justify-content: center;
    
 }
 .button_line div {
     float: left;
     border: 1px #000 solid;
     font-size: 13px;
     justify-content: center;
     padding: 15px 40px;
     margin-left: 10px;
     margin-right: 10px;
 }
 .button_line div:hover {
     color: orange;
     background-color: #000;
 }


